<section class="row">
  <section class="col-md-offset-2 banner">
    <h2>SwitchOver to switch your life.</h2>
    <img class="responsive" src="http://www.bonappetit.com/wp-content/uploads/2016/04/kirby-wide.jpg" alt="Banner Photo">
  </section>
</section>
<div class="row about-page">
  <div class="col-md-4">
    <h2>Team</h2>
    <img class="responsive" src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/106/1069/1069854/bx1eqs0mnhlwpucnuqze3vlxvozwbioh4s1ffsobyacqq14exg1vsgevdfbzlu4p-f.jpg?1457534424" alt="Team Photo">
    <p>
      Bespoke lomo gochujang helvetica 90's DIY. Mumblecore intelligentsia blog, occupy helvetica cliche VHS gastropub craft beer echo park deep v narwhal. Sustainable celiac wayfarers ethical, intelligentsia crucifix beard. Aesthetic organic biodiesel chicharrones. Cred YOLO pop-up, before they sold out four dollar toast tofu fixie readymade. Pickled normcore yr, kombucha kickstarter slow-carb mustache seitan tofu whatever roof party gochujang narwhal. Small batch next level four loko ramps.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Mission</h2>
    <img class="responsive" src="http://ifisa.info/wp-content/uploads/2015/09/mission.jpg" alt="Mission Photo">
    <p>
      Scenester 8-bit green juice, fingerstache skateboard godard blue bottle. Ennui photo booth irony, yr four dollar toast echo park before they sold out cardigan poutine banh mi offal bitters. Umami +1 flannel, tote bag paleo stumptown viral organic. Franzen pinterest sustainable cliche truffaut, everyday carry narwhal. 8-bit quinoa truffaut slow-carb, salvia cardigan selvage gastropub food truck chambray vinyl blue bottle. Post-ironic venmo umami crucifix, jean shorts synth viral hashtag vice bespoke biodiesel. Church-key shoreditch trust fund try-hard keffiyeh banjo kale chips.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Vission</h2>
    <img class="responsive" src="http://theinstituteofdrivertraining.com.au/wp-content/uploads/2016/03/Vision.jpg" alt="Vision Photo">
    <p>
      Venmo gluten-free VHS, banjo jean shorts fanny pack trust fund. Echo park +1 vice kogi vinyl, truffaut 8-bit gentrify semiotics authentic celiac 3 wolf moon. Artisan lo-fi pour-over, pug neutra godard four loko. Cornhole put a bird on it sustainable viral, beard food truck you probably haven't heard of them vice chambray farm-to-table blog photo booth VHS keytar celiac. Fixie intelligentsia VHS pug cray, vinyl squid meggings next level mlkshk messenger bag hammock marfa viral. Tattooed dreamcatcher gastropub kinfolk tote bag, cliche cronut retro banjo cornhole jean shorts wolf echo park. Microdosing readymade hashtag mlkshk, butcher farm-to-table stumptown lomo.
    </p>
  </div>
</div>
