<div class="container">

<% @posts.each do |post| %>
<p>
<img class="img-responsive" src="<%= post.image %>" alt="" />
<h1><%= link post.heading, "/posts/#{post.id}" %></h1>
</p>
<% end %>
<%= will_paginate @posts, renderer: BootstrapPagination::Sinatra %>

</div>
