<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
 		<title>Swtich Over</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/master.css" media="screen" title="no title" charset="utf-8">
 	</head>
 	<body>

    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <a class="navbar-brand" href="/">SwitchOver</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          <div class="collapse navbar-collapse">
            <ul class="main-nav nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
              <div class="dropdown">
                <button data-toggle="dropdown" class="dropdown-toggle btn btn-default"><img id="profile-photo" src="<%= current_user.image %>" alt="" /> <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider dLabel">
                  <li>
                    <a href="/<%= current_user.firstname + current_user.lastname.downcase%>">Profile</a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <form class="" action="/session" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="sign-out btn btn-danger">Logout</button>
                    </form>
                  </li>
              <% else %>
                  <li>
                    <a href="/session"><span class="glyphicon glyphicon-user"></span> Sign in</a>
                  </li>
                  <li>
                    <a href="/signup"><span class="glyphicon glyphicon-log-in"></span> SignUp</a>
                  </li>
              <% end %>
                </ul>
              </div>
          </div>
        </nav>
      </div>
      <div class="container">
        <div class="col-md-11 new-post">
          <a href="/posts/new"><button class="btn btn-success navbar-right">New Post</button></a>
        </div>
          <%= yield %>
      </div>
      <footer>
        <main class="row">
          <section class="col-xs-6">
            <p>Coded with &hearts; by Asif</p>
          </section>
          <section class="col-xs-6">
            <a href="https://github.com/pashtunzoy">Github</a>
            <a href="https://twitter.com/asifnorzai">Twitter</a>
          </section>
        </main>
      </footer>
  </div>
  <script src="/javascript/main.js"></script>
 	</body>
 </html>
