<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title>Swtich Over</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/master.css" media="screen" title="no title" charset="utf-8">
 	</head>
 	<body>

<div class="container-fluid">
<div class="row">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand"
    href="/">SwitchOVER</a>
</div>
<ul class="nav navbar-nav">
  <li><a href="/">Home</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">Contact</a></li>
</ul>
  <ul class="nav navbar-nav navbar-right">
  <% if logged_in? %>
  <div class="dropdown">
    <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default dropdown-toggle"  data-toggle="tooltip" data-placement="left" title="" data-original-title="Edit Profile Or Logout"><img id="profile-photo" src="<%= current_user.image %>" alt="" /> <span class="caret"></span>
    </button>
     </a>

  <ul class="nav navbar-nav navbar-right dropdown-menu" aria-labelledby="dLabel">
    <li>
      <a href="/<%= current_user.firstname + current_user.lastname.downcase%>">Profile</a>
    </li>
    <li>
    <form class="" action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button class="btn btn-danger">Logout</button>
    </form>
  </li>
  </div>
  <% else %>
      <li>
        <form class="" action="/session" method="get">
        <button class="btn btn-info">Sign in</button>
    </form>
    </li>

    <li>
      <form action="/signup">
        <button class="btn btn-info">SingUp</button>
    </form>
    </li>
  <% end %>
</ul>
</div>
</div>
</nav>
</div>
<a href="/posts/new"><button class="btn btn-success right">New     Post</button></a>
<div class="container">
    <%= yield %>

</div>

 	</body>
 </html>
