<form class="singup-form" action="/session" method="post">
  <input type="hidden" name="_method" value="put">
<div class="form-group">
  <label>First Name</label>
  <div class="col-sm-10">
    <input type="text" name="firstname">
  </div>
</div>

  <div class="form-group">
  <label  class=" col-sm-2 control-label">Last Name</label>
  <div class="col-sm-10">
    <input type="text" name="lastname">
  </div>
</div>

<div class="form-group">
  <label  class=" col-sm-2 control-label" for="">Email</label>
  <div class="col-sm-10">
    <input type="text" name="email">
  </div>
</div>

<div class="form-group">
  <label  class=" col-sm-2 control-label" for="">Password</label>
  <div class="col-sm-10">
    <input type="password" name="password">
  </div>
</div>
  <button class="btn btn-success">Sign Up</button>
</form>
