/** {
  box-sizing: border-box;
}*/

/*############# Container for main content on the page ###############*/
/*.container {
  width: 80%;
  margin: 0 auto;
}*/



/*##############Logo ##################################*/

/*############# Profile image ########################*/
img#profile-photo {
   border-radius: 16%;
    width: 46px;
  padding-top: 5px;
}

html, body. div{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

.navbar {
   border-radius: 0;
   padding-top: 3px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    font-family: Hack;
}

.col-md-11.col-sm-9.col-xs-9 h3 {
    color: skyblue;
}

.index-img {
      width: 80px;
}

.show-img {
  width:60%;
}

span.tab{
    padding: 18px; /* Or desired space*/
}

.new-post {
  margin-bottom: 20px;
}

.show-textbox {
  border-right: solid 1px #dadada;
  margin-bottom: 100px;
}
/*############# SingUp Form ########################*/
/*.singup-form {
  display: block;
}*/

/*.row {
  border: 2px solid grey;
}*/
